$fuente-primaria: 'Roboto', sans-serif;
$color-fondo: #181818;
$color-fondo-formulario: #242424;
$color-borde: #007900;
$color-borde-activo: #34a350;
$color-primario: #1ba83a;
$color-primario-deshabilitado: #133b0e;
